@import './styles/reset.css';

:root {
  font-family: Be Vietnam Pro;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: top / cover no-repeat #20293A url(/hero-image-github-profile.png);
}